body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-color: black;
}

.iframe-wrapper {
  width: 100vw; /* Adjust width as needed */
  height: 45vw; /* Adjust height as needed, maintaining aspect ratio */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: white; /* Optional: background color for iframe wrapper */
  border: 2px solid #000; /* Optional: border for iframe wrapper */
}

.iframe {
  position: absolute;
  top: -170px; /* Adjust as needed to crop top */
  left: -327px; /* Adjust as needed to crop left */
  width: calc(100% + 910px); /* Width to cover and crop right */
  height: calc(100% + 500px); /* Height to cover and crop bottom */
}
